/* Fondo general con esquinas redondeadas */
body {
  margin: 0;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
  background: #f3f4f6;
  font-family: "Segoe UI", sans-serif;
}

/* HEADER */
.titlebar {
  height: 38px;
  width: 100%;
  background: #ffffffd0;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #e1e1e1;
}

/* Parte arrastrable */
.drag-region {
  -webkit-app-region: drag;
  flex: 1;
  height: 100%;
}

/* Botones */
.window-buttons {
  display: flex;
  -webkit-app-region: no-drag;
}

.win-btn {
  width: 46px;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.win-btn:hover {
  background: #e6e6e6;
}

.close:hover {
  background: #e81123 !important;
  color: white;
}
